@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes audio-playing {
  0% {
    height: 18px;
  }
  50% {
    height: 36px;
  }
  100% {
    height: 18px;
  }
}

@keyframes shimmer {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

/* Custom styles for nav sidebar */

.NavContainer {
  margin-top: 0rem;
  padding: 0rem;
}

.NavContainer .TopPart {
  padding: 0.5rem 0.75rem;
}

.NavContainer .BottomPart {
  margin-top: 0.2rem;
}

.NavContainer .BottomPart .Inside {
  padding: 0rem 0.75rem 1rem 0.75rem;
}

.NavLink {
  padding: 0.5rem 1rem;
}

@media (min-height: 700px) {
  .NavContainer {
    margin-top: 0rem;
    padding: 0rem;
  }

  .NavContainer .TopPart {
    padding: 0.5rem 0.75rem;
  }

  .NavContainer .BottomPart {
    margin-top: 0.5rem;
  }

  .NavContainer .BottomPart .Inside {
    padding: 0rem 0.75rem 1rem 0.75rem;
  }

  .NavLink {
    padding: 0.6rem 1rem;
  }
}

@media (min-height: 810px) {
  .NavContainer {
    margin-top: 1.5rem;
    padding: 0rem;
  }

  .NavContainer .TopPart {
    padding: 0.5rem 1rem;
  }

  .NavContainer .BottomPart {
    margin-top: 1rem;
  }

  .NavContainer .BottomPart .Inside {
    padding: 0rem 1rem 1rem 1rem;
  }

  .NavLink {
    padding: 0.9rem 1rem;
  }
}

@media (min-height: 920px) {
  .NavContainer {
    margin-top: 3rem;
    padding: 1rem;
  }

  .NavContainer .TopPart {
    padding: 0.5rem;
  }

  .NavContainer .BottomPart {
    margin-top: 2rem;
  }

  .NavContainer .BottomPart .Inside {
    padding: 0.5rem;
    @apply border;
  }

  .NavLink {
    padding: 1rem 1.5rem;
  }
}
